<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<!--
	ucorpora by freshdesignweb.com
	Twitter: https://twitter.com/freshdesignweb
	https://www.freshdesignweb.com/ucorpora/
-->
<head>
	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>Satiate Security Service</title>
	<meta name="description" content="ucorpora about us - Free Business Corporate HTML Template">
	<meta name="keywords" content="ucorpora, ucorpora about, theme, template, corporate, clean, modern, bootstrap, creative, design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]--> 

  <!-- Favicon -->
  <link href="static/img/favicon.ico" rel="icon" type="image/png">

  <!-- Styles -->
  <link href="static/css/styles.css" rel="stylesheet">
  <link href="static/css/bootstrap-override.css" rel="stylesheet">

  <!-- Font Avesome Styles -->
  <link href="static/css/font-awesome/font-awesome.css" rel="stylesheet">
	<!--[if IE 7]>
		<link href="static/css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->

  <!-- FlexSlider Style -->
  <link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen">

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->   

</head>       
<body>
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row t-container">

        <!-- Logo -->
        <div class="span3">
          <div class="logo">
            <a href="index.htm"><img src="static/img/logo-header.png" alt=""></a>
          </div>            
        </div>

        <div class="span9">
          <div class="row space60"></div>
             <nav id="nav" role="navigation">
               	<a href="#nav" title="Show navigation">Show navigation</a>
	            <a href="#" title="Hide navigation">Hide navigation</a>
	            <ul class="clearfix">
	           		<li class="active"><a href="{{ url_for('index')}}" title="">Home</a></li>
            <li> <a class="" href="{{ url_for('aboutus')}}">About Us</a></li>
            <li> <a class="" href="{{ url_for('services')}}">Services</a></li>
            <li> <a class="" href="{{ url_for('admin')}}">Administration</a> </li>
            <li> <a class="" href="{{ url_for('contact')}}">Contact</a></li>
               </li>
	           </ul>
          </nav>
         </div> 
      </div> 
       <div class="row space40"></div>
  </div> 
</header><!-- Header End -->



<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">
	
		<div class="eight columns">
			<h3 class="left">About</h3>
		</div>
		
		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>About</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>

  <!-- Content -->
  <div id="content">
    <div class="container">

      <div class="row">
        <div class="span12">
          <h4>Who We Are?</h4>
       <p></p>  Satiate Security is headed by its Managing Director, Shri GANGADHAR SHUKLA, 35 years, who is having a rich experience in security field. He has vast experience steering security management & policy and processes for oil majors, chemical manufacturing plants, IT facilities, Call centers, auto manufacturing plants, research laboratories, etc. He is a consultant auditor and trainer for security certification preparation and emergency response & BCM to multinational IT companies operating in India. He is a recognized author of security & safety articles published in India's leading security magazines and electronic media.
The Satiate Security senior leadership team includes other Directors, a Chief Learning Officer and Senior Managers who have vast experience in both, corporate and sole security life. Their experience straddles leadership roles in training in large corporate spanning talent development and capability building, to critical roles in Defense & vital Government installations spanning security management, security infrastructure management and hands on experience in private security operations.
Satiate Security Training Learning Centre A state of art learning centre with interactive digital learning systems, projection systems, LCD’s, mock up safety infrastructure etc with the capacity to train over 100 trainees at the same time will be operational at Greater Noida by Dec 2017.</p>

<p>The Training Team comprises certified Coaches, NLP practitioners, soft skills trainers, OHSAS Lead Auditors and NEBOSH certified safety trainers. They bring to the table vast experience and expertise from varied fields.</p>


<p>The company has offices in Noida (U.P.), Greater Noida (U.P.) & Lucknow (U.P.)
Satiate Security is duly registered with all Central and State Government departments & licensing authorities as required under Indian laws. As a services provider, the Company ensures very strict compliance with all statutory compliances under labour and other applicable laws and hence keeps its Clients, as principal employers, indemnified from the same at all times.
Satiate Security is regarded with the 'best' rather than the 'biggest' in the industry. Counted amongst the highest paymasters in the industry, it attracts the best talent available in both, the training and the security domains. Additionally, with both Clients and employees, the Company has earned a reputation of being a fair, ethical and honest company with high management integrity.
Our service packages will always include value-adds which support Clients in many ways. In the training domain, it helps in building a learning culture in their organizations, which in turn creates motivated and engaged employees, thus enhancing employee satisfaction. In the security services domain, it assists the Client to migrate security management into being process driven with identified key deliverables. Force Tech management is further involved to provide solutions and best practices for consideration by the Client towards adherence to international security certification levels such as BS7799, SAS70, C-TPAT, OHSAS, etc.</p>
          <!-- Our Team -->      
          <h3>Our Team</h3>
                
          <div  class="slider2 team flexslider">
            <ul class="slides">
              <li>
                <div class="row">
                                  
                  <a href="#">
                    <div class="span3 square-1">
                      <div class="img-container">
                        <img src="static/img/our-team/1.jpg" alt="">
                        <div class="img-bg-icon"></div>
                      </div>
                      <h4>GANGADHAR SHUKLA</h4>
                        managing director  
                    </div>
                  </a>
                  
                  <a href="#">
                    <div class="span3 square-1">
                      <div class="img-container">
                        <img src="static/img/our-team/2.jpg" alt="">
                        <div class="img-bg-icon"></div>
                      </div>
                      <h4>Vishal Shukla</h4>
                        designation
                    </div>
                  </a>

                  
                </div> 
              </li>
              <li>
                <div class="row">
                  
                  <a href="#">
                    <div class="span3 square-1">
                      <div class="img-container">
                        <img src="static/img/our-team/1.jpg" alt="">
                        <div class="img-bg-icon"></div>
                      </div>
                      <h4>Jane Buckler</h4>
                        junior designer
                    </div>
                  </a>
                  
                  <a href="#">
                    <div class="span3 square-1">
                      <div class="img-container">
                        <img src="static/img/our-team/2.jpg" alt="">
                        <div class="img-bg-icon"></div>
                      </div>
                      <h4>Zeda Junar</h4>
                        analyst
                    </div>
                  </a>
                  
                </div> 
              </li>
            </ul>
          </div>
          <!-- Our Team End -->      
          
          <!-- Typography Row -->
          <div class="row t-row">
            <!-- Line -->
            <div class="span12"><hr></div>

            <div class="span3">
              <!-- Button -->

            </div>

            <!-- Line -->
            <div class="span12"><hr></div>
          </div>
          <!-- Typography Row End-->

          <div class="row space10"></div>  

          <div class="row">
            <!-- List -->
            <!-- List End -->    
            
            <!-- Progress Bar -->
            <!-- Progress Bar End --> 
  
            <!-- Client Says --> 
            <div class="span4">
              <h3>Client Says</h3> 
              <div class="client-says">            
                “I have been using Satiate for my petrol pump since a year, and I must say, the service is really marvellous.”
              </div>
              <div class="client-says-2">
                <div class="quotes">
                  <i class="icon-quote-right"></i>Replace this name.
                </div>  
              </div> 
            </div>
            <!-- Client Says End --> 
          </div> 
                                   
          <div class="row space50"></div>  
        </div>
      </div>
    </div>
  </div>
  <!-- Content End -->
  
  <!-- Footer -->
  <!-- Footer End -->

  <!-- JavaScripts -->
  <script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/functions.js"></script>
  <script type="text/javascript" defer src="static/js/jquery.flexslider.js"></script>

</body>
</html>
