<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<!--
	ucorpora by freshdesignweb.com
	Twitter: https://twitter.com/freshdesignweb
	https://www.freshdesignweb.com/ucorpora/
-->
<head>
	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>Satiate Security Service</title>
	<meta name="description" content="ucorpora about us - Free Business Corporate HTML Template">
	<meta name="keywords" content="ucorpora, ucorpora about, theme, template, corporate, clean, modern, bootstrap, creative, design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]-->

  <!-- Favicon -->
  <link href="static/img/favicon.ico" rel="icon" type="image/png">

  <!-- Styles -->
  <link href="static/css/styles.css" rel="stylesheet">
  <link href="static/css/bootstrap-override.css" rel="stylesheet">

  <!-- Font Avesome Styles -->
  <link href="static/css/font-awesome/font-awesome.css" rel="stylesheet">
	<!--[if IE 7]>
		<link href="static/css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->

  <!-- FlexSlider Style -->
  <link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen">

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row t-container">

        <!-- Logo -->
        <div class="span3">
          <div class="logo">
            <a href="index.htm"><img src="static/img/logo-header.png" alt=""></a>
          </div>
        </div>

        <div class="span9">
          <div class="row space60"></div>
             <nav id="nav" role="navigation">
               	<a href="#nav" title="Show navigation">Show navigation</a>
	            <a href="#" title="Hide navigation">Hide navigation</a>
	            <ul class="clearfix">
	           		<li class="active"><a href="{{ url_for('index')}}" title="">Home</a></li>
            <li> <a class="" href="{{ url_for('aboutus')}}">About Us</a></li>
            <li> <a class="" href="{{ url_for('services')}}">Services</a></li>
            <li> <a class="" href="{{ url_for('admin')}}">Administration</a> </li>
            <li> <a class="" href="{{ url_for('contact')}}">Contact</a></li>
               </li>
	           </ul>
          </nav>
         </div>
      </div>
       <div class="row space40"></div>
  </div>
</header><!-- Header End -->



<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">


	</div>
	<!-- Container / End -->
</section>

  <!-- Content -->
  <div id="content">
    <div class="container">


      <div class="row">
        <div class="span12">
                      <div  class="slider2 team flexslider">
            <ul class="slides">
              <li>
                <div class="row">

                  <a href="#">
                    <div class="span3 square-1">
                      <div class="img-container">
                        <img src="static/img/our-team/1.jpg" alt="">
                        <div class="img-bg-icon"></div>
                      </div>
                      <h4>GANGADHAR SHUKLA</h4>
                        <b>MANAGING DIRECTOR</b>
                    </div>
                  </a>
          <!-- Our Team End -->

          <!-- Typography Row -->

            <!-- Line -->

          <!-- Our Team -->
                    <div class="span9">
          <h3>Message From The Managing Director  </h3>
            <p><b>Welcome to Satiate Security</b>

We are pleased that you're visiting our website to learn more about our company. Our site provides useful information about our services, our range of clients, and our values.

One value that makes me particularly proud to be a part of Satiate Security is how consistently the decisions that promote the long-term growth of our business are also the right choices to help the people, communities and corporations we serve.

An obvious example is our management integrity that promotes high employee retention which further ensures consistency, whether it is through the trainers that we provide to deliver training programs, or in the staff that we position to man critical security posts and functions at Client sites. Another management function is, constantly providing opportunities and tools that fuel personal career growth organically within the Company. It is with great pride that I declare that at Satiate Security, we have employees who began their careers as security guards and have today richly and deservedly risen to positions as managers in the Company. This is what is driving our growth, while contributing significantly to empowering our training and security teams to go the extra mile in providing the quality of training and protection services we offer.

As part of our continuing quest to develop strategies that deliver collaborative and improved training and security solutions on site, our successful performance and remarkable Client retention rate is the direct result of the strength and hard work of our employees and their unwavering commitment to excellence. This same strength, hard work and commitment will also enable Satiate Security to remain focused on our goal - to strive for you to be safe, secure and healthy always!
</p>
<p>The very best to you.</p>


          <!-- Typography Row End-->

          <div class="row space10"></div>

          <div class="row space50"></div>
        </div>
      </div>
                </div>
            </div>
    </div>
  </div>
  <!-- Content End -->

  <!-- Footer -->
  <!-- Footer End -->

  <!-- JavaScripts -->
  <script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/functions.js"></script>
  <script type="text/javascript" defer src="static/js/jquery.flexslider.js"></script>

</body>
</html>
