<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<!--
	ucorpora by freshdesignweb.com
	Twitter: https://twitter.com/freshdesignweb
	https://www.freshdesignweb.com/ucorpora/
-->
<head>
	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>Satiate Security Service</title>
	<meta name="description" content="ucorpora service - Free Business Corporate HTML Template">
	<meta name="keywords" content="ucorpora, ucorpora service, free, template, corporate, clean, modern, bootstrap, creative, design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]--> 

  <!-- Favicon -->
  <link href="static/img/favicon.ico" rel="icon" type="image/png">

  <!-- Styles -->
  <link href="static/css/styles.css" rel="stylesheet">
  <link href="static/css/bootstrap-override.css" rel="stylesheet">

  <!-- Font Avesome Styles -->
  <link href="static/css/font-awesome/font-awesome.css" rel="stylesheet">
	<!--[if IE 7]>
		<link href="static/css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->

  <!-- FlexSlider Style -->
  <link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen">

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->   

</head>       
<body>
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row t-container">

        <!-- Logo -->
        <div class="span3">
          <div class="logo">
            <a href="index.htm"><img src="static/img/logo-header.png" alt=""></a>
          </div>            
        </div>

        <div class="span9">
          <div class="row space60"></div>
             <nav id="nav" role="navigation">
               	<a href="#nav" title="Show navigation">Show navigation</a>
	            <a href="#" title="Hide navigation">Hide navigation</a>
	            <ul class="clearfix">
	           	<li class="active"><a href="{{ url_for('index')}}" title="">Home</a></li>
            <li> <a class="" href="{{ url_for('aboutus')}}">About Us</a></li>
            <li> <a class="" href="{{ url_for('services')}}">Services</a></li>
            <li> <a class="" href="{{ url_for('admin')}}">Administration</a> </li>
            <li> <a class="" href="{{ url_for('contact')}}">Contact</a></li>
               </li>
	           </ul>
          </nav>
         </div> 
      </div> 
       <div class="row space40"></div>
  </div> 
</header><!-- Header End -->

<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">
	
		<div class="eight columns">
			<h3 class="left">Service</h3>
		</div>
		
		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Service</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>
  <!-- Content -->
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h4>Looking for human resource?</h4>

<p>  As military veterans, most of our team members have been in the trenches and the literal line of fire. Harnessing the collective knowledge of our leadership, we add value to the managed services by sharing real-life lessons and initiating physical security procedures and practices to create safe and self-sufficient workplaces and facilities. We know what works and what doesn’t - because we’ve been there.
An indicative list of services that we provide is provided here:


Satiate Security Training is a part of the Satiate Security Group. It is headed by the Group CLO (Chief Learning Officer) and has a team of highly experienced and certified trainers, facilitators and demonstrators address training needs in different domains. The state of art Learning and Development Centre at Noida will afford options for clients to run regular programs such as induction training, soft skills programs, etc at our facility as well as avail of our on – site
Training programs.

Our training portfolio includes Corporate Training; Behavioral & Soft Skills coaching; Skills Development; Leadership and Management Development; Outbound Training (OBT); Core OHS Training; Employee Safety Training; Safe Working at Height (WAH) Training; BCP, Emergency Response & Evacuation Training, Security Training and special programs.

We provide direct and in-house training at client locations. The Satiate Security team is committed to deliver high quality training onsite - wherever your facility and employees are located.
</p>

          <h3>We have provide best human resource</h3>
          <div class="ic-1"></div>
          <img src="static/img/image01.png" alt="">
          <div class="title-1"><h4>Our Service:</h4></div>
           <!-- List -->
          <div class="text-1">
            <ul class="list-b">
              <!-- List Items -->
              <li><i class="icon-ok"></i> Manned security guarding.</li>
              <li><i class="icon-ok"></i> Cabs/Transport security.</li>
              <li><i class="icon-ok"></i> Residential protection.</li>
              <li><i class="icon-ok"></i> Physical security audits.</li>
              <li><i class="icon-ok"></i> Fire safety audits.</li>

              <li><i class="icon-ok"></i> Emergency Preparedness & Response Planning services.</li>
              <li><i class="icon-ok"></i> Security management consulting.</li>
              <li><i class="icon-ok"></i> Executive Protection and PSO services.</li>
              <li><i class="icon-ok"></i> Physical security process manual generation.</li>
              <li><i class="icon-ok"></i> Special event security management including shareholders meet, movie premier launches, fashion shows, etc.</li>
                      <li><i class="icon-ok"></i> Business security tests and recommending solutions.</li>
              <li><i class="icon-ok"></i> Penetration security testing.</li>
              <li><i class="icon-ok"></i> Background and character verification services.</li>
              <li><i class="icon-ok"></i> Specialist Services.</li>

            </ul>
          </div>
          <!-- List End -->
      <!-- List End -->

  <!-- Content End -->
  
 <!-- Footer -->
  <!-- Footer End -->

  <!-- JavaScripts -->
  <script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/functions.js"></script>
  <script type="text/javascript" src="static/js/jquery.isotope.min.js"></script>
  <script type="text/javascript" defer src="static/js/jquery.flexslider.js"></script>

</body>
</html>
  